# Python
.venv/
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Artifacts / outputs (do not commit)
artifacts/
runs/
wandb/
checkpoints/
models/

# Hugging Face cache
.cache/
huggingface/
transformers/
datasets/

# Raw data (do not commit)
data/
